# Aplicación HTTP
APP_NAME=ideal_teacher_backend
APP_PROTOCOL=http
SERVER_PORT=8080

# CORS configuración
ALLOWED_ORIGINS=*,http://localhost:3000
ALLOWED_METHODS=POST,GET,PUT,DELETE,PATCH,OPTIONS
ALLOWED_HEADERS=Content-Type,Authorization,X-Requested-With
ALLOW_CREDENTIALS=true

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ideal_teacher_db
DB_USER=postgres
DB_PASSWORD=postgres123
DB_SSL_MODE=disable
DB_MIN_CONN=3
DB_MAX_CONN=100

#JWT
JWT_EXP=86400
API_SECRET=3ee92e2e-209f-47f9-8b7c-07ef2855ca3c 

# Logger
LOG_LEVEL=debug          # all | debug | info | warn | error
LOG_ADD_SOURCE=true      # true en dev para ver archivo:línea
LOG_CONSOLE_DECORATION=true  # true en dev (texto), false en prod (JSON)
